@page "/Member/AuthProcess"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Security.Claims
@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpContextAccessor

<h3>Processing login...</h3>

@code {
        [Parameter]
        [SupplyParameterFromQuery]
        public string Email { get; set; }

        [Parameter]
        [SupplyParameterFromQuery]
        public string Role { get; set; }

        [Parameter]
        [SupplyParameterFromQuery]
        public string? MemberId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var claims = new List<Claim>
        {
            new Claim(ClaimTypes.Name, Email),
            new Claim(ClaimTypes.Role, Role),
        };

        if (MemberId != null)
        {
            claims.Add(new Claim("MemberId", MemberId));
        }

        var identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
        var principal = new ClaimsPrincipal(identity);

        await HttpContextAccessor.HttpContext.SignInAsync(
            CookieAuthenticationDefaults.AuthenticationScheme, principal,
            new AuthenticationProperties { IsPersistent = true });

        if (Role == "Admin")
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            Navigation.NavigateTo("/member-products");
        }
    }
}